table ,th,td{
    border: 1px solid blueviolet;
    padding: 25px;
    align-items: center;
}
table{
    border-collapse: collapse;
    text-align: center;
}
td img{
    height: 100px;
    width: 100px;
}
.mk{
    margin-right: 10px;
}