/* You can add global styles to this file, and also import other style files */
body{
    margin-left: 5%;
    margin-right: 5%;
    font-family: sans-serif;
}
.container{
    color: blueviolet;
}
.carousel-caption{
    background-color: #0000007d;
}
.carousel-control-next-icon{
    margin-left: -150px;
    background-color: black;
    border-radius: 5px;
}
.carousel-control-prev-icon{
background-color: black;
border-radius: 5px;

}