img{
    width:94%;
    height: 630px;
}
.mra{
    height: 230px;
}
.mn{
    border: 1px solid #adaaaae0;
    padding: 10px;
    
}
.mm{
    display: flex;
  flex-direction: column;
  align-items: center;
}
.product-item{
    border-collapse: collapse;
    width: 260px;
    /* flex: 0 0 25%; */
    margin-left: 20px;
    margin-bottom: 40px;
}
.cll{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bol{
    font-size: large;
  font-weight: bold;
}
.k{
    display: flex;
    justify-content: space-between;
}